class _Config(object):

    def __init__(self):
        self.__sf_instance = 'insert you own instance name here'

    @property
    def sf_instance(self):
        return self.__sf_instance

cfg = _Config()

# Replace line 4 with your own instance from you salesforce.com instance and save as config.py, delete this line.